<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>StreetSOS - Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
  <header>
    <div class="logo">StreetSOS</div>
    <div class="search">
      <input type="search" placeholder="Rechercher...">
    </div>
    <div class="user">
    <% if(user){ %>
      <span>Bonjour, <%= user %></span>
    <% } %>
      <div class="box">
        <ul class="nav">
          <li class="item">
            <span>Connexion</span>
            <ul class="dropdown">
              <li><a href="/log_in">Connecter</a></li>
              <li><a href="/sign_up">S'inscrire</a></li>
            </ul>
          </li>
        </ul>
      </div> 
  </div>
  </header>
</nav>

<main>
  <div class="date">
    <p>Jour actuel : <%= currentDate %></p>
  </div>
  <div class="welcome">
    <h1>Bienvenue sur le site StreetSOS!</h1>
    <p>Alertez les habitants d'Ottignies-Louvain-la-Neuve sur les différents incidents afin d'améliorer leur quotidien !</p>
  </div>

  <section>
    <div class="incident"> <!--tableau avec les incidents du moments-->
      <h2><a href="/incident">Ajouter un incident</a></h2>
    </div>
  </section>
  
  <section>
    <div class="incident_now"> 

      <h2>Incidents en ce moment</h2>
    </div>
    <table>
      <thead> <!--entête du tableau avec les différentes colonnes-->
        <tr>
          <th>Description</th>
          <th>Adresse</th>
          <th>Rapporté par</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% if (incidents && incidents.length > 0) { %> <!--On vérifie qu'il y a au moins 1 incident-->
          <% incidents.forEach(function(incident) { %>
            <tr> <!--Si incident alors on ajoute la description, date , adresse etc-->
              <td><%= incident.description %></td>
              <td><%= incident.rue %>, <%= incident.codePostal %> <%= incident.ville %></td>
              <td><%= incident.rapportePar || user %></td>
              <td><%= new Date(incident.date).toLocaleDateString() %></td>
            </tr>
          <% }) %>
        <% } else { %>
          <tr> <!--Si on a pas trouvé d'incident on affiche au milieu que aucun incident n'a été signalé-->
            <td colspan="4" style="text-align:center;">Aucun incident signalé pour le moment.</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </section>
</main>

</body>
</html>